In [2]:
import findspark

In [4]:
findspark.init('/home/pradyut/spark-3.2.3-bin-hadoop3.2-scala2.13')

In [5]:
import pyspark

In [6]:
print("f: {}, l = {}".format(10,20))

f: 10, l = 20

In [9]:
myl = ['a',2,9.0]

In [10]:
myl[0]

'a'

In [11]:
myl[-2]

2

In [12]:
myl[0]='b'
myl

['b', 2, 9.0]

In [15]:
myl.append("452")
myl.append(["5","8"])
myl

['b', 2, 9.0, '452', ['5', '8'], '452', ['5', '8']]

In [16]:
print(myl[4][1])

8

In [17]:
d= {'1':'one','2':'two'}

In [18]:
d['1']

'one'

In [19]:
t = ('1',2,3) #Tuple
print(type(t))
s = {1,1,1,2,2}
print(type(s),s)

<class 'tuple'>
<class 'set'> {1, 2}

In [20]:
a = 2
if a==1:
    print('one')
elif a ==2:
    print('Two')
else:
    print('Else blck')

Two

In [21]:
for i in range(2,15,2):
    print(i)

2
4
6
8
10
12
14

In [22]:
x = [1,2,3,4,5]
out = []
for num in x:
    out.append(num **2)
out

[1, 4, 9, 16, 25]

In [23]:
[num **2 for num in x]

[1, 4, 9, 16, 25]

In [27]:
def my_func(name='anon'):
    '''
    Prints out name
    '''
    print('hello '+name)

my_func('Prad')
my_func()

hello Prad
hello anon

In [28]:
def sqr(x):
    return x **2

print(sqr(2))

4

In [29]:
lambda x: x**2

In [30]:
x in [1,2,3]

False

In [31]:
1 in [1,2,3]

True